*.py[oc]
*.sw[op]
.DS_Store
__pycache__
/db
/docker-compose.yml
/web/freeze.txt
/web/media
/git/ssh/*


web/homepage/static/
web/teratree/static/fonts/OpenSans-Regular.ttf
web/teratree/static/fonts/Raleway-Medium.ttf
web/teratree/static/fonts/extended/
web/teratree/static/img/angle-down.svg
web/teratree/static/img/angle-left.svg
web/teratree/static/img/angle-right.svg
web/teratree/static/img/angle-up.svg
web/teratree/static/img/arrow-left.svg
web/teratree/static/img/binoculars.svg
web/teratree/static/img/box-open.svg
web/teratree/static/img/check-circle.svg
web/teratree/static/img/comment.svg
web/teratree/static/img/compass.svg
web/teratree/static/img/credit-card-2.svg
web/teratree/static/img/credit-card.svg
web/teratree/static/img/crow.svg
web/teratree/static/img/dog.svg
web/teratree/static/img/download.svg
web/teratree/static/img/ellipsis-h.svg
web/teratree/static/img/ellipsis-v.svg
web/teratree/static/img/envelope-1.svg
web/teratree/static/img/envelope-open-1.svg
web/teratree/static/img/envelope-open.svg
web/teratree/static/img/envelope.svg
web/teratree/static/img/feather-alt.svg
web/teratree/static/img/feather.svg
web/teratree/static/img/filter.svg
web/teratree/static/img/fish.svg
web/teratree/static/img/flag-1.svg
web/teratree/static/img/flag.svg
web/teratree/static/img/frog.svg
web/teratree/static/img/globe-africa.svg
web/teratree/static/img/globe-americas.svg
web/teratree/static/img/globe-asia.svg
web/teratree/static/img/globe-europe.svg
web/teratree/static/img/globe.svg
web/teratree/static/img/google.svg
web/teratree/static/img/hand-point-left.svg
web/teratree/static/img/lightbulb.svg
web/teratree/static/img/location-arrow.svg
web/teratree/static/img/map-marked-alt.svg
web/teratree/static/img/map-pin.svg
web/teratree/static/img/map.svg
web/teratree/static/img/map1.svg
web/teratree/static/img/thumbs-up.svg
web/teratree/static/img/times-circle.svg
web/teratree/static/img/tree.svg
web/teratree/static/img/twitter.svg
web/teratree/static/img/user.svg
