


$teratree-dark-grey: rgb(70,70,70);
$teratree-light-grey: rgb(220,220,220);
$teratree-white: rgb(255,255,255);
$teratree-light-green: rgb(209,239,222);
$teratree-green: rgb(102,181,142);
$teratree-dark-green: rgb(29,64,46);
$teratree-dark-blue: #043138;
$teratree-dark-green-text: rgb(27,59,40);
/*$teratree-orange: rgb(231,161,61);
$teratree-orange: #f79a00;*/

$teratree-orange: #037971;

/* Action colors */
$teratree-color-action-highlight-text: $teratree-white;
$teratree-color-action-highlight-background: $teratree-orange;
$teratree-color-action-primary-text: $teratree-white;
$teratree-color-action-primary-background: $teratree-orange;
$teratree-color-action-secondary-text: $teratree-dark-green;
$teratree-color-action-secondary-background: $teratree-light-green;
$teratree-color-input-text: $teratree-dark-grey;
$teratree-color-input-background: #eee;

/* Main block colors */
/* $teratree-color-bounce-background: #00241B; */
$teratree-color-bounce-background: #444;

.block-rawhtml {
  display: flex;
  flex-direction: column;
  align-items: center;
  justufy-content: center;
  span.teratree-box-title {
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: $teratree-dark-grey;
  }
}


$teratree-color-topbar-background: #037971;
$teratree-color-topbar-text: $teratree-white;
$teratree-color-topbar-link: $teratree-white;

$teratree-color-backbar-background: #D1DC47;
$teratree-color-backbar-text: $teratree-white;
$teratree-color-backbar-link: $teratree-dark-blue;

$teratree-color-messagebar-background: $teratree-dark-green;
$teratree-color-messagebar-text: $teratree-light-green;;
$teratree-color-messagebar-link: $teratree-dark-blue;

$teratree-color-content-background: #fff;
$teratree-color-content-text: $teratree-dark-grey;
$teratree-color-content-text-light: $teratree-dark-grey;
$teratree-color-content-link: $teratree-dark-grey;


$teratree-color-footer-background: $teratree-white;
$teratree-color-footer-text: $teratree-dark-grey;
$teratree-color-footer-text-light: $teratree-light-grey;
$teratree-color-footer-link: $teratree-dark-blue;

/*
$teratree-color-topbar-background: $teratree-white;
$teratree-color-topbar-text: $teratree-dark-grey;
$teratree-color-topbar-link: $teratree-dark-blue;

$teratree-color-backbar-background: $teratree-light-green;
$teratree-color-backbar-text: $teratree-white;
$teratree-color-backbar-link: $teratree-dark-blue;

$teratree-color-messagebar-background: $teratree-dark-green;
$teratree-color-messagebar-text: $teratree-light-green;;
$teratree-color-messagebar-link: $teratree-dark-blue;

$teratree-color-content-background: rgb(144, 222, 131);
$teratree-color-content-text: $teratree-dark-grey;
$teratree-color-content-text-light: $teratree-light-grey;
$teratree-color-content-link: $teratree-dark-blue;

$teratree-color-footer-background: $teratree-white;
$teratree-color-footer-text: $teratree-dark-grey;
$teratree-color-footer-text-light: $teratree-light-grey;
$teratree-color-footer-link: $teratree-dark-blue;
*/

$teratree-rhythm-internal: 14px;
$teratree-rhythm-frame: 20px;


@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}

h1 {
  font-family: 'Raleway', sans-serif;
}
div, section, nav, header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.teratree-grow {
  flex-grow: 1;
}
body, input, label, p, span, div {
  font-family: 'Raleway', sans-serif;
}
body {
  background: $teratree-color-bounce-background;
}

/* Fonts */
%bold {
  font-weight: 600;
}
%light {
  font-weight: 300;
}
%large {
  font-size: 24px;
}
%medium {
  font-size: 18px;
}
%small {
  font-size: 14px;
}

.teratree-footer.teratree-small {
  p {
    font-size: 12px;
  }
}
.teratree-light {
  @extends light;
}
.teratree-1-3 {
  width: 33.33%;
}

/* Buttons */
%button {
  @extend %bold;
  @extend %medium;
  outline: none;
  border-radius: 0;
  border: 0px;
  padding: $teratree-rhythm-internal;
  text-decoration: none;
  cursor: pointer;
  margin:0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
  text-align: center;
}

/* Implementation */

/* Reset */
* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, p, label {
  padding: 0;
  margin: 0;
}
input, textarea {
  @extend %button;
  text-align: left;
  color: $teratree-color-input-text;
  font-weight: normal;
  background: $teratree-color-input-background;
}
button {
  @extend %button;
  color: $teratree-color-action-primary-text;
  background: $teratree-color-action-primary-background;
}
h1, h2, h3, h4, h5 {
  @extends %bold;
}
a {
}

/* Buttons */

.teratree-button-primary,
.teratree-content a.teratree-button-primary {
  @extend %button;
  color: $teratree-color-action-primary-text;
  background: $teratree-color-action-primary-background;
}
.teratree-button-secondary,
.teratree-content a.teratree-button-secondary {
  @extend %button;
  color: $teratree-color-action-secondary-text;
  background: $teratree-color-action-secondary-background;
}
.teratree-button-highlight,
.teratree-content a.teratree-button-highlight {
  @extend %button;
  color: $teratree-color-action-highlight-text;
  background: $teratree-color-action-highlight-background;
}


@mixin color($background, $text, $link) {
  background-color: $background;
  html, body, h1, h2, h3, h4, p, label, div, span {
    color: $text;
  }
  a {
    color: $link
  }
}

/* Content colors */
.content.teratree-blue {
  background-color: rgb(208,240,248);
}

/* Layout */
.teratree-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}
    .teratree-topbar {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: no;
      min-height: 64px;
      @include color($teratree-color-topbar-background, #fff, $teratree-color-topbar-link);
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
    }
        .teratree-logo {
          padding-left: 20px;
          padding-right: 20px;
        }
        .teratree-user {
          @extends large;
          padding-left: 20px;
          padding-right: 20px;
        }
    .teratree-backbar {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      flex-shrink: no;
      @extends bold;
      @extends large;
      @include color($teratree-color-backbar-background, $teratree-color-backbar-text, $teratree-color-backbar-link);
      background: $teratree-color-backbar-background url("../homepage/images/contours.png");
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      padding: 10px;
    }
    .teratree-messagebar {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      @extend %bold;
      @extend %medium;

      padding-left: 129px;
      @include color($teratree-color-messagebar-background, $teratree-color-messagebar-text, $teratree-color-messagebar-link);
      min-height: 150px;
    }
    .teratree-content {
      display: flex;
      flex-direction: column;
      flex-shrink: no;
      align-self: stretch;
      justify-content: flex-start;
      padding-top: 20px;
      align-items: center;
      flex-grow: 1;
      @include color($teratree-color-content-background, $teratree-color-content-text, $teratree-color-content-link);
    }
    .teratree-footer {
      @extends small;
      display: flex;
      flex-direction: row;
      flex-shrink: no;
      padding-top: 20px;
      min-height: 70px;
      justify-content: center;
      align-items: center;
      @include color($teratree-color-footer-background, $teratree-color-footer-text, $teratree-color-footer-link);
    }
.teratree-user div {
  padding: 5px;
}
