{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block back_bar %}{% endblock %}
{% block aside1 %}{% endblock %}
{% block aside2 %}{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>

  {% with stream_field=page.intro %}
    {% include 'render_stream_field.html' %}
  {% endwith %}

  <form action="{% pageurl page %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit">
  </form>
  {% with stream_field=page.outro %}
    {% include 'render_stream_field.html' %}
  {% endwith %}
{% endblock %}
