{% load static %}
{% load menu_tags %}
{% load sass_tags %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% if self.title %}{{ self.title }}{% endif %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css" />
    {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="teratree-frame">
      <div class="teratree-topbar">
        <div class="teratree-logo">
          <a href="/" style="font-size: 24px; font-weight: bold; text-decoration: none">teraTree</a>
        </div>
        <div class="teratree-user" style="flex-direction: row; justify-content: end;">
          {% main_menu template="main_menu.html" %}
          {% include "user.html" %}
        </div>
      </div>
      {% if messages %}
      <div class="teratree-messagebar">
        {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% block back_bar %}
        <div class="teratree-backbar">
          <span><a href="javascript:history.back()">{% block back_bar_text %}Back{% endblock %}</a></span>
        </div>
      {% endblock %}
      <div class="teratree-content {% block content_background_class %}{% endblock %}">
        {% block content %}{% endblock %}
      </div>
      <div class="teratree-footer teratree-small" style="flex-direction: column; justify-content: center; align-items: center; align-self: stretch; padding-left: 20px; padding-right: 20px;">
        <div style="width: 100%">
          <p style="text-align: center">&copy; teraTree 2019 All Rights Reserved. teraTree is a trademark and trading name of James Gardner.<br>See our <a href="/legal/terms-and-conditions">Terms and Conditions</a> and <a href="/legal/privacy-policy/">Privacy Policy</a>.</p>
        </div>
        <div style="width: 100%; padding-top:20px; padding-bottom: 20px;">
          <p><a href="https://twitter.com/teratreeorg"><i class="fab fa-twitter" style="font-size: 32px;"></i></a></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
