{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>{% block title %}{% if self.title %}{{ self.title }}{% endif %}{% endblock %}</title>
    <meta name="description" content="" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    {% include 'css.html' %}
    {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="logo">
      <a href="/">teraTree</a>
    </div>
    <div class="navwrapper">
      <nav id="topnav" class="topnav">
        <span class="closebtn" onclick="closeNav()">&#10005;</span>
      </nav>
      <span class="openbtn" id="open" onclick="openNav()">&#9776;</span>
    </div>
    <div class="search"><span style="width: 1rem"></span></div> 
  </header>
  <article class="main {% block content_background_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </article>
  {% block aside1 %}
  {% endblock %}
  {% block aside2 %}
  {% endblock %}
  <footer class="footer">
    <!-- teraTree is a trademark and trading name of James Gardner -->
    <p style="padding-bottom: 0; margin-bottom: 0">&copy; teraTree 2019 All Rights Reserved.</p><p style="padding-top: 0.4rem; margin-top: 0">See our Terms and Conditions and Privacy Policy.</p>
    <p><a href="https://twitter.com/teratreeorg"><i class="fab fa-twitter" style="font-size: 32px;"></i></a></p>
  </footer>
</div>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% block extra_js %}{% endblock %}
  </body>
</html>
