<!-- Begin Mailchimp Signup Form -->
<p style="font-size: 1rem;">Subscribe to our newsletter:</p>
<form action="https://teratree.us3.list-manage.com/subscribe/post?u=9860c5d48c98b9d7eca840949&amp;id=ceabc11a69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL"></label>
	<input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9860c5d48c98b9d7eca840949_ceabc11a69" tabindex="-1" value=""></div>
</form>
<!--End mc_embed_signup-->
