        {% if request.user.is_authenticated %}
          <div>{{request.user.email}}</div>
          <div><a href="{% url 'account_email' %}">email</a></div>
          <div><a href="{% url 'account_change_password' %}">password</a></div>
          {% if request.user.is_staff %}
            <div><a href="{% url 'admin:index' %}">admin</a></div>
            <div><a href="{% url 'wagtailadmin_home' %}">cms</a></div>
          {% endif %}
          <div><a href="{% url 'account_logout' %}">Sign out</a></div>
        {% else %}
          <div><a href="{% url 'account_login' %}">Sign in</a></div>
        {% endif %}

