
{% load tz %}
    <h2>Comments</h2>
    {% if page.comments.all %}
      <p>
      {% for item in page.comments.all %}
          {% if item.user %}
          <strong>{{ item.user.first_name }} {{ item.user.last_name }} (member)</strong>
          {% else %}
          <strong>{{ item.author }}</strong>
          {% endif %}
           - {{ item.date | timezone:"Europe/London"}}<br>
          {{ item.comment }}<br>
          <br>
      {% endfor %}
      </p>
    {% else %}
    <p>Be the first to add a comment.</p>
    {% endif %}

    <h2>Add a Comment</h2>
    {% include "form-errors.html" %}
    <form method="post" action="." id="comment-new">
      {% csrf_token %}
      {% if not request.user.is_authenticated %}
      {{ form.author }}<br>
      {{ form.email }}<br>
      {% endif %}
      {{ form.comment }}<br>
      <button type="submit" class="save btn btn-default">Submit</button>
    </form>

