/freeze.txt
/media
*.py[oc]
*.sw[op]
__pycache__

#homepage/static/
/teratree/static/fonts/OpenSans-Regular.ttf
/teratree/static/fonts/Raleway-Medium.ttf
/teratree/static/fonts/extended/
/teratree/static/img/angle-down.svg
/teratree/static/img/angle-left.svg
/teratree/static/img/angle-right.svg
/teratree/static/img/angle-up.svg
/teratree/static/img/arrow-left.svg
/teratree/static/img/binoculars.svg
/teratree/static/img/box-open.svg
/teratree/static/img/check-circle.svg
/teratree/static/img/comment.svg
/teratree/static/img/compass.svg
/teratree/static/img/credit-card-2.svg
/teratree/static/img/credit-card.svg
/teratree/static/img/crow.svg
/teratree/static/img/dog.svg
/teratree/static/img/download.svg
/teratree/static/img/ellipsis-h.svg
/teratree/static/img/ellipsis-v.svg
/teratree/static/img/envelope-1.svg
/teratree/static/img/envelope-open-1.svg
/teratree/static/img/envelope-open.svg
/teratree/static/img/envelope.svg
/teratree/static/img/feather-alt.svg
/teratree/static/img/feather.svg
/teratree/static/img/filter.svg
/teratree/static/img/fish.svg
/teratree/static/img/flag-1.svg
/teratree/static/img/flag.svg
/teratree/static/img/frog.svg
/teratree/static/img/globe-africa.svg
/teratree/static/img/globe-americas.svg
/teratree/static/img/globe-asia.svg
/teratree/static/img/globe-europe.svg
/teratree/static/img/globe.svg
/teratree/static/img/google.svg
/teratree/static/img/hand-point-left.svg
/teratree/static/img/lightbulb.svg
/teratree/static/img/location-arrow.svg
/teratree/static/img/map-marked-alt.svg
/teratree/static/img/map-pin.svg
/teratree/static/img/map.svg
/teratree/static/img/map1.svg
/teratree/static/img/thumbs-up.svg
/teratree/static/img/times-circle.svg
/teratree/static/img/tree.svg
/teratree/static/img/twitter.svg
/teratree/static/img/user.svg
